* {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: blue;

}

body {
    background-color: aqua;
   
}

#questionBox, #timerDisplay{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

button {
    margin-top: 20px;
}